{% include 'base.html' with active_tab='tab3' %}


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> -->
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'user/user.css' %}" />
<link rel="stylesheet" href="{% static 'autocomplete_light/select2.css' %}" />
<link rel="stylesheet" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />




<!-- {% block title %}Add New Employee{% endblock %} -->
<body >
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title p_header">Add New Employee Details</h3>
      </div>
      <div class="panel-body">
        {% crispy form %}
      </div>
    </div>
{% endblock %}
</body>


<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script> -->

<script type="text/javascript">
        
$(function() {
    $('#id_e_unit_roll').select2();
    $('#id_e_unit_work').select2();
    $('#id_e_desg').select2();


     // Select the option with a value of 'US'


$('#id_e_unit_roll').on('select2:change', function (e) {
  var data = e.params.data;
    console.log(data);
    // $('#mySelect2').val('US');
})
});

</script>