{% include 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'user/user.css' %}" />

<link rel="stylesheet" href="{% static 'user/user.css' %}" />
<link rel="stylesheet" href="{% static 'autocomplete_light/select2.css' %}" />
<link rel="stylesheet" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />



    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title p_header">{{ panel_header }}</h3>
      </div>
      <div class="panel-body">
        {% block content %}
<!--         <link href= {% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{% static  'autocomplete_light/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static  'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static  'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static  'autocomplete_light/select2.js' %}"></script> -->
        {% crispy form %}
        {% endblock %}
      </div>
    </div>


<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
<script>
$(function() {
    var rol_unit_combo = $('#id_e_unit_roll').select2();
    $('#id_e_unit_work').select2();
    $('#id_e_desg').select2();
    $('#id_th_unit').select2();
    $('#id_p_desg').select2();

    rol_unit_combo.on('select2:change', function (e) {
  var data = e.params;
    console.log(data);
    // $('#mySelect2').val('US');
})
});

</script>